# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/
.env

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Ignore large terraform binaries
.terraform/
*.tfstate
*.tfstate.backup
*.zip
*.x5
*.tar.gz

# Docker
*.log
*.pid